body, html {
  margin: 0;
  padding: 0;
  direction: rtl; }

div {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.o-bl {
  background-color: #fafcfb; }
  .o-bl img {
    user-select: none; }
  .o-bl__nav {
    width: 100%;
    min-height: 100px;
    box-shadow: 0 10px 50px 0 rgba(230, 230, 230, 0.2);
    background-color: #fafcfb;
    display: flex;
    position: sticky;
    top: 0; }
  .o-bl__nav-container {
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .o-bl__nav-menu {
    padding-right: 0; }
    .o-bl__nav-menu > li {
      float: right;
      list-style: none;
      margin-left: 30px; }
  .o-bl__nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .o-bl__intro-section {
    width: 90%;
    max-width: 1480px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .o-bl__intro-content {
    flex: 0 0 566px; }
  .o-bl__intro-vector {
    flex: 1;
    text-align: left; }
  .o-bl .faker-height {
    height: 1500px;
    background-color: gray;
    width: 100%; }
