body, html {
  margin: 0;
  padding: 0;
  direction: rtl; }

div {
  box-sizing: border-box; }

.o-bl {
  background-color: #fafcfb; }
  .o-bl__nav {
    width: 100%;
    min-height: 100px;
    box-shadow: 0 10px 50px 0 rgba(230, 230, 230, 0.2);
    background-color: #fafcfb;
    display: flex;
    position: sticky;
    top: 0; }
  .o-bl__nav-container {
    flex: 1;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px; }
  .o-bl__nav-menu {
    padding-right: 0; }
    .o-bl__nav-menu > li {
      float: right;
      list-style: none;
      margin-left: 30px; }
  .o-bl__nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .o-bl .faker-height {
    height: 1500px;
    background-color: gray;
    width: 100%; }
